.rcb-bot-avatar {
  border-radius: 1%;
}

.rcb-options-container {
  height: 41px;
}

.rcb-close-chat-icon::after {
  background-color: transparent;
  transition: none;
}

.rcb-checkbox-row-container:hover {
  margin-top: 1px;
  margin-left: 1px;
}

.rcb-checkbox-next-button:hover {
  margin-top: 1px;
  margin-left: 1px;
  background-color: #005596; /* Accent Color */
}

.rcb-dot {
  background-color: #005596; /* Bubble Dot Color */
}

.rcb-chat-input-textarea {
  color: #FFF;
}
